.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    display: block;
    width: 360px;
    margin: 0;
}

@media screen and (max-width: 670px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}