.place__link {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-decoration-line: underline;
    color: #ffffff;
    opacity: 1;
    transition: opacity .2s ease .1s;
    cursor: pointer;
}

.place__link:hover{
    opacity: .6;
}