.footer__line {
    margin-right: 18px;
}

.footer__line:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__line {
        margin-bottom: 32px;
    }

    .footer__line:last-of-type {
        margin-bottom: 0;
    }
}