.place {
    width: 984px;
    display: grid;
    justify-content: center;
    grid-template-columns: 460px 484px;
    grid-template-rows: minmax(min-content, max-content);
    grid-auto-rows: auto;
    gap: 48px 40px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 100%;
        gap: 48px 32px;
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 100%;
        gap: 48px 28px;
        grid-template-columns: 340px 352px;
        justify-content: center;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        width: 100%;
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    }
}

@media screen and (max-width: 670px) {
    .place {
        width: 100%;
        grid-template-columns: minmax(min-content, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 320px;
        padding-bottom: 50px;
        gap: 32px;
    }
}