.page__footer {
    padding-bottom: 24px;
    padding-top: 92px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .page__footer {
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .page__footer {
        padding-left: 16px;
        padding-top: 64px;
    }
}